.select-container {
    width: 160px; 
    height: 48px; 
    overflow: hidden;
    background-color: #17171B;
    color: #fff;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.select-container select {
    background-color: transparent;
    color: #fff;
    border: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    -webkit-appearance: none; /* Oculta la flecha por defecto en WebKit */
    -moz-appearance: none;    /* Oculta la flecha por defecto en Firefox */
    appearance: none;         /* Oculta la flecha por defecto en la mayoría de navegadores */
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
}

.select-container:after {
    content: '▼';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    pointer-events: none;
    font-size: 28px;
    font-weight: bold;
    right: 30px;
}

/* Estilo para cambiar el color de fondo al pasar el ratón por encima */
.select-container:hover {
    background-color: rgba(42, 44, 48, 0.911);
}