.password-input {
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: bold;
    width: 83%;
}

.left_icono {
    padding-left: 8px;
    font-size: 24px;
    left: 5px;
    padding-right: 8px;
    color: #fff;
    stroke-width: 1px;
}

.icon_button {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.icon_button:focus {
    outline: none;
}